$text-color: #000000;
$bg-color: #ec9292;
$text-size: 16px;

// nav kleuren
$main-menu-bg: lightblue;

// font size
$font-size-h1: 32px;
$font-size-h2: $font-size-h1 * 0.75;
$font-size-h3: $font-size-h2 * 0.75;
