@import "variables";
@import "mixins";
@import "navigation";
@import "buttons";
@import "typography";


    body{
        color: $text-color;
        background-color: $bg-color;
        font-size: $text-size;
    }
    